<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.db.bms.mapper.UserBorrowMapper">
    <insert id="insert">
        insert into user_borrow
        (userid,hasborrow,maxborrow) values ( #{userid},#{hasborrow},#{maxborrow})
    </insert>
    <delete id="drop">
        delete from user_borrow where userid=#{userid}
    </delete>


    <select id="selectCountBySearch" resultType="java.lang.Integer">
        SELECT COUNT(*)  from user_borrow
    </select>
    <select id="selectBySearch" resultType="com.db.bms.model.UserBorrow">
        SELECT u.userName,ub.userid,ub.hasborrow,ub.maxborrow from user u,(select * from user_borrow  ) ub WHERE ub.userid=u.userId
        limit #{begin}, #{size}
    </select>
    <select id="selectUserB0rrow" resultType="com.db.bms.model.UserBorrow">
        select  * from user_borrow where userid = #{userid}
    </select>
</mapper>

